<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/typo.css" rel="stylesheet" ></link>
    <link href="/static/styles.css" rel="stylesheet" ></link>
    <link href="/static/styles/gallery.css" rel="stylesheet" ></link>
    <title>{{ title }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>
  </head>
  <body class="page">
    <div class="page__content">
      {% import "./blocks/header.html" as header %}
      {% import "./blocks/caruselAlbum.njk" as caruselAlbum %}

      {{ header.props('', true) }}
      <ul class="gallery gallery_photopedia">
        {{caruselAlbum.props(poster, true, title, description, date)}}
        {%- for photo in photos -%}
            {{caruselAlbum.props(photo, true)}}
        {%- endfor -%}
      </ul>
      {% include "./blocks/footer.njk" %}
      {% include "./blocks/modal.njk" %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>
