<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/typo.css" rel="stylesheet" ></link>
        <link href="/static/styles.css" rel="stylesheet" ></link>
    </head>
    <body class="page">
        <div class="page__content">
            {% import "./blocks/header.html" as header %}
            {{ header.props('История', true) }}
            {% set inhonorCol = collections.article %}
            <section class="section typo typo_theme_plain article">
                <div class="limiter limiter_small">
                    {% if title %}
                        <h1 class="article__title typo typo_theme_subtitle">{{title}}</h1>
                    {% endif %}
                    {% if mainphoto %}
                        <img src="/static/{{mainphoto}}" class="article__main-illustration">
                    {% endif %}
                    <div class="article__content">{{ content | safe }}</div>
                </div>
                {% if quotes %}
                    <div class="article__quote">
                        <blockquote class="limiter limiter_small">"{{quotes}}"</blockquote>
                    </div>
                {% endif %}
                {% if images %}
                    <ul class="article__images-list limiter limiter_small">
                        {%- for image in images-%}
                            <li class="article__images-item">
                                <img src="/static/{{image}}" class="article__image modal-image"/>
                            </li>
                        {%- endfor -%}
                    </ul>
                {% endif %}
            </section>
            {% include "./blocks/footer.njk" %}
        </div>
        {% include "./blocks/modal.njk" %}
    </body>
</html>
