<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/typo.css" rel="stylesheet" ></link>
    <link href="/static/styles.css" rel="stylesheet" ></link>
    {# <title>{{ info.data.title }}</title> #}
  </head>
  <body class="page">
    <div class="page__content">
      {% import "./blocks/header.html" as header %}
      {% import "./blocks/caruselMember.html" as caruselMember %}
      {% import "./blocks/afishaBanner.html" as afishaBanner %}
      {{ header.props('Aфиша', true) }}
      <div class="afisha">
        {{ afishaBanner.props(banner, eventtags, title, short_description, dateTime) }}
        <div class="afisha__container afisha__description-container afisha__description-container_short">
          <div class="afisha__description-controls">
            <div class="afisha__control link typo typo_theme_accent">
              <span class="afisha__control-text" alternativeText='Скрыть'>Показать больше</span>
              <span class="afisha__info-list-item-text-arrow afisha__info-list-item-text-arrow_dir_bottom"></span>
            </div>
          </div>
          <div class="afisha__full-description typo typo_theme_plain">
            {{ content | safe }}
          </div>
        </div>
        <section class="section afisha__row">
          <div class="afisha__container">
            <div class="afisha__info">
              <ul class="afisha__info-list">
                {%- for dateT in dateTime-%}
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title">Дата и время </h4>
                    <span class="afisha__info-list-item-text typo typo_theme_accent">{{dateT._date | rusDate}}, {{dateT.time | rusTime}}</span>
                  </li>
                  <li class="afisha__info-list-item afisha__info-list-item_underlined">
                    <h4 class="afisha__info-list-item-title">Место</h4>
                    <a class="afisha__info-list-item-text typo typo_theme_accent link" href="{{dateT.placeLink}}" target="_blank">
                      {{dateT.place}}
                      <span class="afisha__info-list-item-text-arrow"></span>
                    </a>
                  </li>
                {%- endfor -%}
                {% if duration %}
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title">Длительность</h4>
                    <span class="afisha__info-list-item-text typo typo_theme_accent">{{duration}} минут</span>
                  </li>
                {% endif %}

                <li class="afisha__info-list-item">
                  <h4 class="afisha__info-list-item-title">Возраст</h4>
                  <span class="afisha__info-list-item-text typo typo_theme_accent">
                    {% if age %}
                      {{age}}+
                    {% else %}
                        Без ограничений
                    {% endif %}
                  </span>
                </li>

                <li class="afisha__info-list-item">
                  <h4 class="afisha__info-list-item-title">Вход</h4>
                  <span class="afisha__info-list-item-text typo typo_theme_accent">
                    {% if price %}
                    Платный
                  {% else %}
                    Бесплатный
                  {% endif %}
                  </span>
                </li>
                {% if price %}
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title"></h4>
                    <a class="afisha__button button typo typo_theme_plain">Купить билеты</a>
                  </li>
                {% endif %}
              </ul>
              <img class="afisha__afisha" src="{{poster}}"/>
            </div>
          </div>
        </section>
        <section class="section afisha__container afisha__programm-info">
          {% if compositions.length %}
            <div class="afisha__repertoire">
              <h2 class="afisha__subtitle typo typo_theme_subtitle">В программе</h2>
              <ul class="afisha__repertoire-list">
                {%- for composition in compositions-%}
                  <li class="afisha__composer">
                    <li class="afisha__repertoire-slot typo typo_theme_plain">{{composition}}</li>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {% endif %}
          {% if composers %}
            <div class="afisha__composers">
              <h2 class="afisha__subtitle typo typo_theme_subtitle">Композиторы</h2>
              <ul class="afisha__composers-list">
                {%- for composer in composers-%}
                  <li class="afisha__composer">
                    <a class="afisha__composer-link  typo typo_theme_accent link" target='_blank' href='{{composer.link}}'>{{composer.composer}}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {% endif %}
        </section>
        <h2 class="afisha__subtitle typo typo_theme_subtitle afisha__container">Состав</h2>
        <section class="section afisha__row">
          <ul class="afisha__troupe">
            {% set groupList = collections.bands | findByName(band) %}
            {% set orchestraBand = collections.current_band | findById(groupList.data.band) %}
            {% set orchestraPeople = collections.members | findByIdArray(orchestraBand.data.participants) %}
            {% set externalEnsemble = collections.ensembles | findByIdArray(groupList.data.external_ensemble) %}
            {% set externalPeople = collections.members | findByIdArray(groupList.data.participants) %}

            {%- for person in externalPeople-%}
              {{ caruselMember.props(person.data.name, person.data.photo, person.url, person.data.role, person.data.instrument)}}
              {# (name, photo, role, instrument) #}
            {%- endfor -%}
            {%- for ensemble in externalEnsemble-%}
              {{ caruselMember.props(ensemble.data.name, ensemble.data.photo, ensemble.url, 'ансамбль')}}
            {%- endfor -%}
            {%- for person in orchestraPeople-%}
              {{ caruselMember.props(person.data.name, person.data.photo, person.url, person.data.role, person.data.instrument)}}
            {%- endfor -%}
          </ul>
        </section>
      </div>
      {% include "./blocks/footer.njk" %}
      <div class="modal">
        <div class="modal__container">
          <img src="{{poster}}" class="modal__img"/>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/event.js"></script>
  </body>
</html>
