<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../../static/typo.css" rel="stylesheet" ></link>
    <link href="../../../../static/styles.css" rel="stylesheet" ></link>

    <title>{{ title }}</title>
  </head>
  <body class="page">
    {% import "./blocks/header.html" as header %}
    {{ header.props('', false)}}

    <div class="banner">
      <div class="banner__text">
        <h1 class="banner__title typo typo_theme_major">{{ title }}</h1>
        <p class="banner__slogan typo typo_size_m typo_height_m">{{ short_description}}</p>
      </div>
    </div>
    <div class="intro limiter">
      <p class="intro__main-text">{{ middle_description}}</p>
      <a class="intro__link-details" href="/history">Подробнее</a>
    </div>
    <section class="section">
      <h2 class="section__title limiter typo typo_theme_subtitle">Ближайшие концерты</h2>
      <ul class="upcomming">
        {%- for event in collections.events -%}
          {% set isFutureEvent = event.data.dateTime | isFutureEvent %}
          {% if event.data.price %}
            <li class="upcomming__item">
          {% else %}
            <li class="upcomming__item upcomming__item_past">
          {% endif %}
            <div class="upcomming__info">
              <span class="upcomming__date typo typo_theme_small">
                {{event.data.dateTime | joinDateRange}}
                {%- for dateTime in event.data.dateTime -%}
                    <div class="upcomming__date-row">{{dateTime._date | rusDate}}, {{dateTime.time | rusTime}}</div>
                {%- endfor -%}
              </span>
              <h3 class="upcomming__title">{{event.data.title}}</h3>
              <p class="upcomming__description">
                {{event.data.short_description}}
              </p>
              {% if event.data.price %}
                <span class="upcomming__entrance">Купить</span>
              {% else %}
                <span class="upcomming__entrance">Вход свободный</span>
              {% endif %}
              <a href="{{event.url}}" class="upcomming__link">Подробнее</a>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </section>
    {% set news = collections.news | sortByField("dateTime", "up") %}
    {% if (news | length) >= 2 %}
      <section class="section">
        <h2 class="section__title limiter typo typo_theme_subtitle">Новости</h2>
        <ul class="news">
          {% for singleNews in [news[0], news[1]] %}
            <li class="news__item">
              <img src="{{singleNews.data.poster}}" class="news__img">
              <div class="news__desciption">
                <h3 class="news__title">{{singleNews.data.title}}</h3>
                <p class="news__text">{{singleNews.data.short_description}}</p>
                <ul class="news__links">
                  <li class="news__link-item">
                    <p class="news__link-text">Читать дальше</p>
                    <a class="news__link typo typo_theme_accent" href="/news/{{singleNews.fileSlug}}">/news/{{singleNews.fileSlug}}</a>
                  </li>
                </ul>
              </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% include "./blocks/footer.njk" %}
  </body>
</html>
