---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../../static/typo.css" rel="stylesheet" ></link>
    <link href="../../../../static/styles.css" rel="stylesheet" ></link>

    <title>{{ title }}</title>
  </head>
  <body class="page">

    
    {% import "./blocks/header.html" as header %}
    {{ header.props('', false)}}

    <div class="banner">
      <div class="banner__text">
        <h1 class="banner__title typo typo_theme_major">{{ title }}</h1>
        <p class="banner__slogan typo typo_size_m typo_height_m">{{ short_description}}</p>
      </div>
    </div>
    <div class="intro limiter">
      <p class="intro__main-text">{{ middle_description}}</p>
      <a class="intro__link-details" href="/history">Подробнее</a>
    </div>
    {% include "./blocks/footer.njk" %}
  </body>
</html>