{% import "./blocks/header.html" as header %}
{% import "./blocks/caruselMember.html" as caruselMember %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/typo.css" rel="stylesheet" ></link>
    <link href="/static/styles.css" rel="stylesheet" ></link>
    <link href="/static/styles/members.css" rel="stylesheet" ></link>

    <title>{{ title }}</title>
  </head>
  <body class="page">
    <div class="page__content page__content_full-screen">
      {{ header.props('Музыканты', true)}}
      <div class="searchbar">
        <div class="form form_size_s limiter">
            <label class="form__label form__label_type_search">
                <input class="form__input typo typo_theme_small" type="text" name="search_text" placeholder="Поиск"/>
            </label>
        </div>
      </div>
      <main class="members">
        <ul class="members__list afisha__row">
          {%- for person in collections.members-%}
            {{ caruselMember.props(person.data.name, person.data.photo, person.fileSlug, person.data.role, person.data.instrument)}}
          {%- endfor -%}
        </ul>
      </main>
      {% include "./blocks/footer.njk" %}
    </div>
    <script type="text/javascript" src="/static/members.js"></script>
  </body>
</html>
