{% import "./blocks/header.html" as header %}
{% import "./blocks/caruselAlbum.njk" as caruselAlbum %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/typo.css" rel="stylesheet" ></link>
    <link href="/static/styles.css" rel="stylesheet" ></link>
    <link href="/static/styles/gallery.css" rel="stylesheet" ></link>

    <title>{{ title }}</title>
  </head>
  <body class="page">
    <div class="page__content page__content_full-screen">
      {{ header.props('Проекты', true)}}
      <main class="projects">
        <ul class="gallery gallery_blog">
          {%- for project in collections.projects -%}
            {{caruselAlbum.props(project.data.banner, false, project.data.title, false, false, project.fileSlug)}}
          {%- else -%}
            <div class="gallery__item typo typo_theme_major">Нет проектов</div>
          {%- endfor -%}
        </ul>
      </main>
      {% include "./blocks/footer.njk" %}
    </div>
  </body>
</html>
