.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-wrapper {
    max-width: 60vw;
}

.contacts__phone,
.contacts__email {
    align-items: center;
    display: flex;
}

.contacts__phone-owner,
.contacts__email-owner {
    margin-right: 10px;
}

.contacts__phone-number,
.contacts__email-address {
    text-decoration: none;
}

.contacts__location {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .contacts__phone-owner,
    .contacts__email-owner {
        display: none;
    }
}

@media (max-width: 550px) {
    .contacts-wrapper {
        max-width: 90vw;
    }
}
