.header {
    /* height: 5vw; */
    box-shadow: 0 1px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    padding: 0 88px;
    padding-right: 64px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /* background: white; */
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
}

.header_fixed {
    background-color: white;
    box-shadow: 0 1px rgb(0 0 0 / 10%);
    position: fixed;
}

.header__nav-item {
    transition-duration: 0.5s;
}

.header__nav-item_active {
    background-color: #9fa628;
}

.header__nav-item_active .header__link {
    color: #fff !important;
}

.header__nav-item:hover {
    cursor: pointer;
    color: white;
}

.header_short .header__nav-item {
    line-height: 62px;
}

.header_fixed .header__nav-item:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    color: #7b7b7b;
}
.header_fixed .header__nav-item_active:hover {
    background-color: #9fa628;
    color: #fff;
}

.header__list {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 24px;
    padding: 0;
    color: #7b7b7b;
    box-sizing: border-box;
}

.header__nav-item {
    box-sizing: border-box;
    line-height: 96px;
    font-weight: 500;
}

.header__link {
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    height: 100%;
}

@media (max-width: 1400px) {
    .header {
        padding: 0;
    }
}
