<footer class="footer">
    <ul class="footer__links">
        <li class="footer__link-item">
            <a class="footer__link footer__link_theme_vk"></a>
        </li>
        <li class="footer__link-item">
            <a class="footer__link footer__link_theme_fb"></a>
        </li>
        <li class="footer__link-item">
            <a class="footer__link footer__link_theme_inst"></a>
        </li>
        <li class="footer__link-item">
            <a class="footer__link footer__link_theme_gg"></a>
        </li>
    </ul>
    <p class="footer__copyright">© Крымский оркестр русских народных инструментов им. Г.Г. Шендерева</p>
</footer>