<header class="header">
    <div class="logo"></div>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__nav-item">Афиша</li>
            <li class="header__nav-item">Галлерея</li>
            <li class="header__nav-item">Новости</li>
            <li class="header__nav-item">Состав</li>
            <li class="header__nav-item">История</li>
            <li class="header__nav-item">Контакты</li>
        </ul>
    </nav>
</header>