    <section class="section nearest">
      <h2 class="section__title limiter typo typo_theme_subtitle">Ближайшие концерты</h2>
      <ul class="upcomming">
        <li class="upcomming__item">
          <div class="upcomming__info">
            <span class="upcomming__date typo typo_theme_small">28 декабря 19:00</span>
            <h3 class="upcomming__title">Метель</h3>
            <p class="upcomming__description">
                Музыкальные иллюстрации к повести Пушкина. 
              </p>
            <span class="upcomming__entrance">Вход свободный</span>
            <a href="#" class="upcomming__link">Подробнее</a>
          </div>
        </li>
        <li class="upcomming__item">
          <div class="upcomming__info">
            <span class="upcomming__date typo typo_theme_small">30 ноября 18:00</span>
            <h3 class="upcomming__title">Воспоминание о вальсе</h3>
            <p class="upcomming__description">
                Популярные старинные вальсы 20-го века (Джойса, Кюсса, Андреева и других)
              </p>
            <span class="upcomming__entrance">Вход свободный</span>
            <a href="#" class="upcomming__link">Подробнее</a>
          </div>
        </li>
        <li class="upcomming__item">
          <div class="upcomming__info">
            <span class="upcomming__date typo typo_theme_small">30 июня 13:00</span>
            <h3 class="upcomming__title">День балалайки</h3>
            <p class="upcomming__description">
                Музыка солнечной долины
              </p>
            <span class="upcomming__entrance">Вход свободный</span>
            <a href="#" class="upcomming__link">Подробнее</a>
          </div>
        </li>
        <li class="upcomming__item">
          <div class="upcomming__info">
            <span class="upcomming__date typo typo_theme_small">29 марта 18:00</span>
            <h3 class="upcomming__title">9 лет оркестру</h3>
            <p class="upcomming__description">
                Концерт в честь 5-летия воссоединения Крыма с Россией
              </p>
            <span class="upcomming__entrance">Вход свободный</span>
            <a href="#" class="upcomming__link">Подробнее</a>
          </div>
        </li>
      </ul>
    </section>