{% set tabs = [
    { text: "Главная", link: "/" },
    { text: "Aфиша", link: "/events" },
    { text: "История", link: "/history" },
    { text: "Музыканты", link: "/members" },
    { text: "Проекты", link: "/projects" }
] %}
