{% import "./declarations.njk" as decls %}
{% macro props(activeTab, isFixed) %}
    {% if isFixed %}
        <header class="header header_fixed">
    {% else %}
        <header class="header">
    {%- endif -%}
        <div class="logo"></div>
        <nav class="header__nav">
            <ul class="header__list">
                {%- for tab in decls.tabs-%}
                    {% if tab.text == activeTab %}
                        <li class="header__nav-item header__nav-item_active">
                            <a class="header__link link link_theme_header" href="{{tab.link}}">{{tab.text}}</a>
                        </li>
                    {% else %}
                        <li class="header__nav-item">
                            <a class="header__link link link_theme_header" href="{{tab.link}}">{{tab.text}}</a>
                        </li>
                    {% endif %}
                {%- endfor -%}
            </ul>
        </nav>
    </header>
    <div class="burger">
        <div class="burger__item"></div>
    </div>
{% endmacro %}
