<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/typo.css" rel="stylesheet" ></link>
        <link href="/static/styles.css" rel="stylesheet" ></link>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>
    </head>
    <body class="page">
        <div class="page__content">

            {% import "./blocks/header.html" as header %}
            {{ header.props('История', true) }}

            {% set inhonorCol = collections.article %}
            <section class="section typo typo_theme_plain article">
                <div class="limiter limiter_small">
                    <h1 class="article__title ">{{title}}</h1>
                    <img src="/content/history/{{mainphoto}}" class="article__main-illustration">
                    {{ content | safe }}
                </div>
                {% if quotes %}
                    <div class="article__quote">
                        <blockquote class="limiter limiter_small">"{{quotes}}"</blockquote>
                    </div>
                {% endif %}
                {% if images %}
                    <ul class="article__images-list limiter limiter_small">
                        {%- for image in images-%}
                            <li class="article__images-item">
                                <img src="/content/history/{{image}}" class="article__image"/>
                            </li>
                        {%- endfor -%}
                    </ul>
                {% endif %}
            </section>
            {% include "./blocks/footer.njk" %}
        </div>
        <div class="modal">
            <div class="modal__container">
                <img src="" class="modal__img"/>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="../../../../static/vendors/slick.min.js"></script>
        <script src="../../../../static/article.js"></script>
    </body>
</html>