<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../../static/typo.css" rel="stylesheet" ></link>
        <link href="../../../static/styles.css" rel="stylesheet" ></link>
        {# <title>{{ info.data.title }}</title> #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>
    </head>
    <body class="page">
        <div class="page__content">

            {% import "./blocks/header.html" as header %}
            {{ header.props('Aфиша', true) }}

            {% set mainEvent = collections
                .events[0]
                .data %}
            <div class="afisha">
                <div class="afisha__banner" style="background-image: url('../../../content/events/{{mainEvent.banner}}')">
                    <div class="afisha__tags">
                        <ul class="afisha__tags-list">
                            {%- for eventtag in mainEvent.eventtags-%}
                                <li class="afisha__tag typo typo_theme_tags">{{eventtag}}</li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    <div class="afisha__banner-info">
                        <h1 class="afisha__title typo typo_theme_major">{{mainEvent.title}}</h1>
                        <h1 class="afisha__short-description typo typo_theme_plain">{{mainEvent.short_description}}</h1>
                        <p class="afisha__datetime typo typo_theme_small">
                            <span class="afisha__date">{{mainEvent._date}},</span>
                            <span class="afisha__time">19:00</span>
                        </p>
                        {% if mainEvent.price %}
                            <a class="afisha__button button typo typo_theme_plain">Купить билеты</a>
                        {% endif %}
                    </div>
                    <span class="afisha__nearest typo typo_theme_accent">Ближайшее</span>
                </div>
            </div>

            <div class="searchbar">
                <form class="form limiter">

                    <label class="form__label form__label_type_search">
                        <input class="form__input typo typo_theme_small" type="text" name="search_text" placeholder="Поиск"/>
                    </label>
                    <label class="typo typo_theme_small form__label_type_sort">
                        <span>Сортировать по</span>
                        {# <select class="form__select">
                            <option value="">Убыванию</option>
                            <option value="">Возрастанию</option>
                        </select> #}
                    </label>
                </form>
            </div>

            <ul class="events-list">
                {%- for event in collections.events -%}
                    {% if event.data.price %}
                        <li class="event-preview">
                        {% else %}
                            <li class="event-preview event-preview_past">
                            {% endif %}
                            <a class="event-preview__link" href="./{{event.data.id}}">
                                <img src="../../../content/events/{{event.data.banner}}" class="event-preview__picture"/>
                                <div class="event-preview__description">
                                    <h3 class="event-preview__title typo typo_theme_plain">{{event.data.title}}</h3>
                                    <p class="event-preview__info">{{event.data.short_description}}</p>
                                    <p class="event-preview__info typo typo_theme_light">{{event.data.place}}</p>
                                    {% if event.data.price %}
                                        <div class="afisha__button button typo typo_theme_tags">Купить билеты</div>
                                    {% endif %}
                                </div>
                                <div class="event-preview__date">{{event.data._date}}, 19:00</div>
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>

                {% include "./blocks/footer.njk" %}
            </div>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
            <script type="text/javascript" src="../../../../static/vendors/slick.min.js"></script>
            <script type="text/javascript" src="../../../../static/event.js"></script>
        </body>
    </html>