<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../../static/typo.css" rel="stylesheet" ></link>
    <link href="../../../../static/styles.css" rel="stylesheet" ></link>
    {# <title>{{ info.data.title }}</title> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>
  </head>
  <body class="page">
    <div class="page__content">

      {% import "./blocks/header.html" as header %}
      {{ header.props('Aфиша', true) }}

      <div class="afisha">
        <div class="afisha__banner" style="background-image: url('{{banner}}')">
          <div class="afisha__tags">
            <ul class="afisha__tags-list">
              {%- for eventtag in eventtags-%}
                <li class="afisha__tag typo typo_theme_tags">{{eventtag}}</li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="afisha__banner-info">
            <h1 class="afisha__title typo typo_theme_major">{{title}}</h1>
            <h1 class="afisha__short-description typo typo_theme_plain">{{short_description}}</h1>
            <p class="afisha__datetime typo typo_theme_small">
              <span class="afisha__date">{{_date}},</span>
              <span class="afisha__time">19:00</span>
            </p>
            {% if price %}
              <a class="afisha__button button typo typo_theme_plain">Купить билеты</a>
            {% endif %}
          </div>
        </div>
        <div class="afisha__container">
          <p class="afisha__full-description typo typo_theme_plain">{{full_description}}</p>
        </div>
        <section class="section afisha__row">
          <div class="afisha__container">
            <div class="afisha__info">
              <ul class="afisha__info-list">
                <li class="afisha__info-list-item">
                  <h4 class="afisha__info-list-item-title">Дата и время </h4>
                  <span class="afisha__info-list-item-text typo typo_theme_accent">{{_date}}, 19:00</span>
                </li>
                <li class="afisha__info-list-item">
                  <h4 class="afisha__info-list-item-title">Место</h4>
                  <a class="afisha__info-list-item-text typo typo_theme_accent link" href="https://yandex.ru/profile/38238683134" target="_blank">
                    {{place}}
                    <span class="afisha__info-list-item-text-arrow"></span>
                  </a>
                </li>
                <li class="afisha__info-list-item">
                  <h4 class="afisha__info-list-item-title">Длительность</h4>
                  <span class="afisha__info-list-item-text typo typo_theme_accent">{{duration}} минут</span>
                </li>
                <li class="afisha__info-list-item">
                  <h4 class="afisha__info-list-item-title">Возраст</h4>
                  <span class="afisha__info-list-item-text typo typo_theme_accent">{{age}}+</span>
                </li>
                <li class="afisha__info-list-item">
                  <h4 class="afisha__info-list-item-title">Вход</h4>
                  <span class="afisha__info-list-item-text typo typo_theme_accent">
                    {% if price %}
                    Платный
                  {% else %}
                    Бесплатный
                  {% endif %}
                  </span>
                </li>
                {% if price %}
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title"></h4>
                    <a class="afisha__button button typo typo_theme_plain">Купить билеты</a>
                  </li>
                {% endif %}
              </ul>
              <img class="afisha__afisha" src="{{poster}}"/>
            </div>
          </div>
        </section>
        <section class="section afisha__container afisha__programm-info">
          <div class="afisha__repertoire">
            <h2 class="afisha__subtitle typo typo_theme_subtitle">В программе</h2>
            <ul class="afisha__repertoire-list">
              {%- for composition in compositions-%}
                <li class="afisha__composer">
                  <li class="afisha__repertoire-slot typo typo_theme_plain">{{composition}}</li>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="afisha__composers">
            <h2 class="afisha__subtitle typo typo_theme_subtitle">Композиторы</h2>
            <ul class="afisha__composers-list">
              {%- for composer in composers-%}
                <li class="afisha__composer">
                  <a class="afisha__composer-link  typo typo_theme_plain link">{{composer}}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </section>
        <h2 class="afisha__subtitle typo typo_theme_subtitle afisha__container">Состав</h2>
        <section class="section afisha__row">
          <ul class="afisha__troupe">
            {%- for group in collections.bands-%}
              {% if group.data.name == band %}
                {%- for memberName in group.data.band-%}
                  {%- for member in collections.members-%}
                    {% if member.data.name == memberName %}
                      <li class="afisha__troupe-member">
                        <a class="member link typo typo_theme_tags">
                          <div class="member__img-container">
                            <img src="../../../../static/{{member.data.photo}}" class="member__img"/>
                          </div>
                          <p class="member__name">{{member.data.name}}</p>
                          <div class="member__instrument typo_theme_light">
                            {% if member.data.role == "Дирижер" or member.data.role == "Солист"%}
                              {{member.data.role}}
                            {% else %}
                              {{member.data.instrument}}
                            {% endif %}
                          </div>
                        </a>
                      </li>
                    {% endif %}
                  {%- endfor -%}
                {%- endfor -%}
              {% endif %}
            {%- endfor -%}
          </ul>
        </section>
      </div>
      {% include "./blocks/footer.njk" %}
      <div class="modal">
        <div class="modal__container">
          <img src="{{poster}}" class="modal__img"/>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javascript" src="../../../../static/vendors/slick.min.js"></script>
    <script type="text/javascript" src="../../../../static/event.js"></script>
  </body>
</html>