<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../../static/typo.css" rel="stylesheet" ></link>
    <link href="../../../../static/styles.css" rel="stylesheet" ></link>
    {# <title>{{ info.data.title }}</title> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>
  </head>
  <body class="page">
    <div class="page__content">
      {% include "./blocks/header.njk" %}
      {# <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link">Афиша</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link">{{title}}</a>
          </li>
        </ul>
      </div> #}

      <div class="afisha">
        <div class="afisha__banner" style="background-image: url('../../../../content/events/{{banner}}')">
          <div class="afisha__tags">
            <ul class="afisha__tags-list">
              <li class="afisha__tag typo typo_theme_tags">Волынка</li>
              <li class="afisha__tag typo typo_theme_tags">Скрипка</li>
              <li class="afisha__tag typo typo_theme_tags">Виолончель</li>
              <li class="afisha__tag typo typo_theme_tags">Контрабас</li>
              <li class="afisha__tag typo typo_theme_tags">Вокал</li>
              <li class="afisha__tag typo typo_theme_tags">Хор</li>
              <li class="afisha__tag typo typo_theme_tags">Оркестр</li>
              <li class="afisha__tag typo typo_theme_tags">Классика</li>
            </ul>
          </div>
          <div class="afisha__banner-info">
            <h1 class="afisha__title typo typo_theme_major">{{title}}</h1>
            <h1 class="afisha__short-description typo typo_theme_plain">{{short_description}}</h1>
            <p class="afisha__datetime typo typo_theme_small">
              <span class="afisha__date">{{date2}},</span>
              <span class="afisha__time">{{time}}</span>
            </p>
          </div>
        </div>
        <section class="afisha__section section">
          <div class="afisha__container">
            <p class="afisha__full-description typo typo_theme_plain">{{full_description}}</p>
          </div>
          <section class="section afisha__row">
            <div class="afisha__container">
              <div class="afisha__info">
                <ul class="afisha__info-list">
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title">Дата и время </h4>
                    <span class="afisha__info-list-item-text typo typo_theme_accent">{{date2}}, {{time}}</span>
                  </li>
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title">Место</h4>
                    <a class="afisha__info-list-item-text typo typo_theme_accent link">
                      {{place}}
                    </a>
                  </li>
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title">Длительность</h4>
                    <span class="afisha__info-list-item-text typo typo_theme_accent">{{duration}} минут</span>
                  </li>
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title">Возраст</h4>
                    <span class="afisha__info-list-item-text typo typo_theme_accent">{{age}}+</span>
                  </li>
                  <li class="afisha__info-list-item">
                    <h4 class="afisha__info-list-item-title">Вход</h4>
                    <span class="afisha__info-list-item-text typo typo_theme_accent">Бесплатный</span>
                  </li>
                </ul>
                <img class="afisha__afisha" src="../../../../content/events/{{poster}}"/>
              </div>
            </div>
          </section>
          <section class="section afisha__container afisha__programm-info">
            <div class="afisha__repertoire">
              <h2 class="afisha__subtitle typo typo_theme_subtitle">В программе</h2>
              <ul class="afisha__repertoire-list">
                <li class="afisha__repertoire-slot typo typo_theme_plain">П. Карли - П. Мориа «Pardonne-moi ce caprice»</li>
                <li class="afisha__repertoire-slot typo typo_theme_plain">Дж. Ласт «The Lonely Shepherd»</li>
                <li class="afisha__repertoire-slot typo typo_theme_plain">Р. Клайдерман «Ballade Pour Adeline»</li>
                <li class="afisha__repertoire-slot typo typo_theme_plain">С. Никитин – П. Мориа «Под музыку Вивальди»</li>
                <li class="afisha__repertoire-slot typo typo_theme_plain">Дж. Дассен «Бабье лето» из репертуара оркестра П. Мориа</li>
                <li class="afisha__repertoire-slot typo typo_theme_plain">Э. Морриконе Тема из к/ф «Профессионал»</li>
              </ul>
            </div>
            <div class="afisha__composers">
              <h2 class="afisha__subtitle typo typo_theme_subtitle">Композиторы</h2>
              <ul class="afisha__composers-list">
                <li class="afisha__composer">
                  <a class="afisha__composer-link  typo typo_theme_plain link">Мориа Поль</a>
                </li>
                <li class="afisha__composer">
                  <a class="afisha__composer-link  typo typo_theme_plain link">Ласт Джеймс</a>
                </li>
                <li class="afisha__composer">
                  <a class="afisha__composer-link  typo typo_theme_plain link">Ульвеус Бьорн</a>
                </li>
                <li class="afisha__composer">
                  <a class="afisha__composer-link  typo typo_theme_plain link">Андерссон Бенни</a>
                </li>
              </ul>
            </div>
          </section>
          <section class="section afisha__row">
            <ul class="afisha__troupe">
              <li class="afisha__troupe-member">
                <a class="member">
                  <img src="" class="member__img"/>
                  <p class="member__name">Екатерина Степанова</p>
                  <div class="member__instrument">волынка</div>
                </a>
              </li>
              <li class="afisha__troupe-member"></li>
              <li class="afisha__troupe-member"></li>
            </ul>
          </section>
        </section>

        {# </div> #}
      </div>
      {% include "./blocks/footer.njk" %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../../../../static/vendors/slick.min.js"></script>
    <script type="text/javascript" src="../../../../static/index.js"></script>
  </body>
</html>