---
title: Events
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ info.data.title }}</title>
  </head>
  <body>
  layout
  {%- for info in collections.info -%}
    <li>{{ info.data.title }}</li>
  {%- endfor -%}
  {# {{ info.title }} #}
  </body>
</html>